body {
    font-family: 'Playfair Display', serif;
    margin-left: 0px;
}

.header {
    padding: 20px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    font-size: 15px;
    position: fixed;
    display: block;
    z-index: 1
}

.page_elements {
    display: flex;
    flex-direction: column;
}

.page_content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 15px;
    text-align: left;
}

.text_box
{
    width: 400px;
    height: 400px;
}

.submit_button
{
    width: 100px;
    margin-left: 306px;
    margin-top: 10px;
}

.topnav {
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 114.5px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    position: fixed;
    display: block;
    z-index: 1
}

    .topnav a {
        padding-top: 14px 16px;
        text-align: center;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: white;
    }

        .topnav a:hover {
            color: orange;
        }

.footer {
    display: block;
    background-color: black;
    text-align: center;
    width: 100%;
    color: white;
}

    .footer a:hover {
        color: orange;
    }
