<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>anonymous feedback</title>
    <link rel="stylesheet" href="../css/anonymous_feedback.css">
</head>
<body>
    <!--header tag-->
    <div class="header">
        <h1>CSCB63: Design and Analysis of Data Structures</h1>
    </div>
    <!--page elements groups navigation bar and page contents into a flexbox-->
    <div class="page_elements">
        <!--navigation bar-->
        <div class="topnav">
            <a class="active" href="index.html">| HOME |</a>
            <a href="course_team.html">| COURSE TEAM |</a>
            <a href="lectures.html">| LECTURES |</a>
            <a href="assignments.html">| ASSIGNMENTS |</a>
            <a href="labs.html">| LABS |</a>
            <a href="anonymous_feedback.html">| ANONYMOUS FEEDBACK |</a>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">| MARKUS |</a>
            <a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">| PIAZZA |</a>
            <a href="calendar.html">| CALENDAR |</a>
        </div>
        <!--actual page content-->
        <div class="page_content">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>Enter your feedback in the textbox below and click submit to send your feedback to the professor.</p>
            <!--text box for feedback-->
            <textarea class="text_box"></textarea>
            <!--button for submitting feedback-->
            <button class="submit_button">Submit</button>
        </div>
    </div>
    <!--footer tag-->
    <div class="footer">
        <p>
            Website Designed by Parjanya Parikh and Ahmed Elkady<br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a>
        </p>
    </div>
</body>
</html>