<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>assignments</title>
    <link rel="stylesheet" href="../css/assignments.css">
</head>
<body>
    <!--header tag-->
    <div class="header">
        <h1>CSCB63: Design and Analysis of Data Structures</h1>
    </div>
    <!--page elements puts the navigation bar and the page contents into a flexbox-->
    <div class="page_elements">
        <!--navigation bar-->
        <div class="topnav">
            <a class="active" href="index.html">| HOME |</a>
            <a href="course_team.html">| COURSE TEAM |</a>
            <a href="lectures.html">| LECTURES |</a>
            <a href="assignments.html">| ASSIGNMENTS |</a>
            <a href="labs.html">| LABS |</a>
            <a href="anonymous_feedback.html">| ANONYMOUS FEEDBACK |</a>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">| MARKUS |</a>
            <a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">| PIAZZA |</a>
            <a href="calendar.html">| CALENDAR |</a>
        </div>
        <!--actual page content-->
        <div class="page_content">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <p>Find all the source files required for the assignments below.</p>

            <p>Assignment 1:</p>
            <a href="../assignments/assignment1_outline.pdf">assignment 1 outline</a>

            <p>Assignment 2:</p>
            <a href="../assignments/assignment2_outline.pdf">assignment 2 outline</a>

            <p>Assignment 3:</p>
            <a href="../assignments/assignment3_outline.pdf">assignment 3 outline</a>

            <p>You will need LaTeX for your assignments, go to their <a href="http://latex-project.org/ftp.html">website</a> for installation and follow the instructions.</p>

            <p>When the time comes, a pdf file with the midterm questions will also be posted here.</p>
            <a href="../assignments/midterm.pdf">midterm.pdf</a>
        </div>
    </div>
    <!--footer tag-->
    <div class="footer">
        <p>
            Website Designed by Parjanya Parikh and Ahmed Elkady<br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a>
        </p>
    </div>

</body>
</html>