<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>course_team</title>
    <link rel="stylesheet" href="../css/course_team.css">
</head>
<body>
    <!--the header tag-->
    <div class="header">
        <h1>CSCB63: Design and Analysis of Data Structures</h1>
    </div>
    <!--page elements is used to organize the navigation bar and page contents into a flexbox-->
    <div class="page_elements">
        <!--navigation bar-->
        <div class="topnav">
            <a class="active" href="index.html">| HOME |</a>
            <a href="course_team.html">| COURSE TEAM |</a>
            <a href="lectures.html">| LECTURES |</a>
            <a href="assignments.html">| ASSIGNMENTS |</a>
            <a href="labs.html">| LABS |</a>
            <a href="anonymous_feedback.html">| ANONYMOUS FEEDBACK |</a>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">| MARKUS |</a>
            <a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">| PIAZZA |</a>
            <a href="calendar.html">| CALENDAR |</a>
        </div>
        <!--actual page content-->
        <div class="page_content">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Course Team</h2>
            <h3>Dr. Anna Bretscher</h3>
            <img src="../images/Anna_Bretscher.jpg" alt="Dr. Bretscher" width="100" height="100">
            <p>
                Dr. Bretscher joined the department in 2004 after completing a Ph.D in Graph Theory at the University of Toronto and Master's and Bachelor's degrees at Queen's University. After teaching a course as a graduate student, Anna came to the realization that teaching students theoretical concepts is where her passion lies. In particular, she loves the challenge of simplifying difficult concepts and the reward of successfully teaching new topics.
            </p>
            <p>
                Email: <a href="mailto:anna.bretscher@utoronto.ca">anna.bretscher@utoronto.ca</a>
            </p>
            Office: IC 493
            <p>
                Office Hours:
                Mondays 9:10pm-10pm,
                Fridays 12:30pm-1:30pm
            </p>
        </div>
    </div>
    <!--the footer tag-->
    <div class="footer">
        <p>
            Website Designed by Parjanya Parikh and Ahmed Elkady<br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a>
        </p>
    </div>

</body>
</html>