<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>home</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!--the header tag-->
    <div class="header">
        <h1>CSCB63: Design and Analysis of Data Structures</h1>    
    </div>
    <!--page elements is used to organize all the contents into a flexbox-->
    <div class="page_elements">
        <!--navigation bar-->
        <div class="topnav">
            <a class="active" href="index.html">| HOME |</a>
            <a href="course_team.html">| COURSE TEAM |</a>
            <a href="lectures.html">| LECTURES |</a>
            <a href="assignments.html">| ASSIGNMENTS |</a>
            <a href="labs.html">| LABS |</a>
            <a href="anonymous_feedback.html">| ANONYMOUS FEEDBACK |</a>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">| MARKUS |</a>
            <a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">| PIAZZA |</a>
            <a href="calendar.html">| CALENDAR |</a>
        </div>
        <!--welcome banner-->
        <div class="page_welcome">
            <h2>Welcome to the Course!</h2>
        </div>
        <!--background image-->
        <div class="img">
            <img src="../images/datastructures.png" alt="data_structures">
        </div>
        <!--actual page content-->
        <div class="page_content">
            <br />
            <br />
            <br />
            <br />
            <h3>
                This course consists of design, analysis, implementation and comparison of efficient data structures for common abstract data types.
                Priority queues: heaps and mergeable heaps. Dictionaries: balanced binary search trees, B-trees, hashing.
                Amortization: data structures for managing dynamic tables and disjoint sets. Data structures for representing graphs. Graph searches.
            </h3>
            <h3>
                Exclusion: CSC263H, CSC265H, (CSCC78H)
                Prerequisite: CSCB36H or (CSCB38H) & [CGPA 2.75 or enrolment in a CSC subject POSt]
            </h3>
            <h3>
                Lectures Dates:
            </h3>
            <h3>
                <strong>Wednesdays: </strong>3-4pm
                <strong>Thursdays:</strong> 9:10-11:00am
                Zoom links to the synchronous lectures can be found on Quercus.
            </h3>
        </div>
        <!--the footer tag-->
        <div class="footer">
            <p>
                Website Designed by Ahmed Elkady and Wisam Kesserwan<br>
                <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a>
            </p>
        </div>
    </div>

</body>
</html>