<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>labs</title>
    <link rel="stylesheet" href="../css/labs.css">
</head>
<body>
    <!--header tag-->
    <div class="header">
        <h1>CSCB63: Design and Analysis of Data Structures</h1>
    </div>
    <!--page elements groups the navigation bar and page contents into a flexbox-->
    <div class="page_elements">
        <!--navigation bar-->
        <div class="topnav">
            <a class="active" href="index.html">| HOME |</a>
            <a href="course_team.html">| COURSE TEAM |</a>
            <a href="lectures.html">| LECTURES |</a>
            <a href="assignments.html">| ASSIGNMENTS |</a>
            <a href="labs.html">| LABS |</a>
            <a href="anonymous_feedback.html">| ANONYMOUS FEEDBACK |</a>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">| MARKUS |</a>
            <a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">| PIAZZA |</a>
            <a href="calendar.html">| CALENDAR |</a>
        </div>
        <!--actual page contents-->
        <div class="page_content">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Labs/Tutorials</h2>
            <p>
                Labs start at Week 2. Find all the lab and tutorial materials below.
            </p>
            <a href="../labs/lab.pdf">lab1.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab2.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab3.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab4.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab5.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab6.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab7.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab8.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab9.pdf</a>
            <br />
            <a href="../labs/lab.pdf">lab10.pdf</a>
        </div>
    </div>
    <!--footer tag-->
    <div class="footer">
        <p>
            Website Designed by Parjanya Parikh and Ahmed Elkady<br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a>
        </p>
    </div>

</body>
</html>