<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>lectures</title>
    <link rel="stylesheet" href="../css/lectures.css">
</head>
<body>
    <!--header tag-->
    <div class="header">
        <h1>CSCB63: Design and Analysis of Data Structures</h1>
    </div>
    <!--page elements organizes navigation bar and page contents into a flexbox-->
    <div class="page_elements">
        <!--navigation bar-->
        <div class="topnav">
            <a class="active" href="index.html">| HOME |</a>
            <a href="course_team.html">| COURSE TEAM |</a>
            <a href="lectures.html">| LECTURES |</a>
            <a href="assignments.html">| ASSIGNMENTS |</a>
            <a href="labs.html">| LABS |</a>
            <a href="anonymous_feedback.html">| ANONYMOUS FEEDBACK |</a>
            <a href="https://markus.utsc.utoronto.ca/cscb63w21">| MARKUS |</a>
            <a href="https://piazza.com/utoronto.ca/winter2021/cscb63h3slec01/home">| PIAZZA |</a>
            <a href="calendar.html">| CALENDAR |</a>
        </div>
        <!--actual page content-->
        <div class="page_content">
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Lectures</h2>
            <!--syllabus tag-->
            <p>Download the course syllabus with the link below.</p>
            <a href="./syllabus_and_lectures/syllabus.pdf">syllabus.pdf</a>
            <p>
                This course has 12 lectures, one per each week of the semester. Lecture material is listed by week below with download links.
            </p>
            <div class="lecture material">
                <!--div for pre lecture material-->
                <div class="pre-lecture">
                    <h4>Pre-Lecture Material</h4>
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_1.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_2.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_3.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_4.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_5.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_6.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_7.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_8.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_9.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_10.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_11.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/pre-lecture.pdf">pre-lecture_12.pdf</a>
                </div>
                <!--div for weekly lecture material-->
                <div class="lecture">
                    <h4>Lecture Material</h4>
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_1.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_2.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_3.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_4.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_5.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_6.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_7.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_8.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_9.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_10.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_11.pdf</a>
                    <br />
                    <a href="../syllabus_and_lectures/lecture.pdf">lecture_12.pdf</a>
                </div>
            </div>
        </div>
    </div>
    <!--footer tag-->
    <div class="footer">
        <p>
            Website Designed by Parjanya Parikh and Ahmed Elkady<br>
            <a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a>
        </p>
    </div>
</body>
</html>